# setup
import pandas and check version

In [1]:
import pandas as pd
pd.__version__

'1.1.3'

# dataframe
### list to series

In [2]:
arr = [0,1,2,3,4]
df = pd.Series(arr)
df

0    0
1    1
2    2
3    3
4    4
dtype: int64

### dictionary to series

In [3]:
d = {'a':1,'b':2,'c':3,'d':4,'e':5}
df = pd.Series(d)
df

a    1
b    2
c    3
d    4
e    5
dtype: int64

### NumPy ndarray to df

In [8]:
dates = pd.date_range('today', periods = 6) # make time series as index
num_arr = np.random.randn(6,4) # use numpy to create a random 6x4 numeric set
cols = ['A','B','C','D']
df = pd.DataFrame(num_arr, index = dates, columns = cols)
df

                                   A         B         C         D
2020-11-02 00:57:10.319637  0.266139  0.264858 -0.142339 -0.982606
2020-11-03 00:57:10.319637  0.300723  1.857280 -0.888498  0.155042
2020-11-04 00:57:10.319637 -0.248335  1.074639  0.057291 -0.535379
2020-11-05 00:57:10.319637 -0.633905 -2.985564  0.146891  2.139053
2020-11-06 00:57:10.319637  0.034955 -2.024299  0.055923 -0.189775
2020-11-07 00:57:10.319637  0.025668 -1.790377  0.553235 -1.690173

### csv to df

In [ ]:
df = pd.read_csv('test.csv', encoding = 'utf-8', sep = ';')

### select rows and columns

In [ ]:
df.loc[df.index[[3, 4, 8]], ['animal', 'age']]

### filter

In [ ]:
# filter rows where the value of the column age is null 
df[df['age'].isnll()]

# filter two conditions
df[(df['age']>2) & (df['age']<4)]

# between
df[df['age'].between(2,4)]

# and some others you are already familiar with

### sort/arrange

In [ ]:
df.sort_values(by=['age','visits'], ascending=[False, True]) # different orders for different columns

### replace value

In [ ]:
# use map to replace yes with True
df['age'] = df['age'].map({'yes': True, 'no': False})

# use replace
df['age'] = df['age'].replace('old','elder')

### remove duplicate rows

In [ ]:
# shift()
df.loc(df['A'].shift() != df['A'])

# drop_duplicates()
df.drop_duplicates(subset='A')

In [ ]:
# which columns has the least sum
df.sum().idxmin()

# pivot table

In [19]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

df.dropna(subset=['age'], inplace = True)

In [16]:
df.columns

Index(['animal', 'age', 'visits', 'priority'], dtype='object')

In [22]:
# 
df.pivot_table(index = 'animal', columns = 'visits', values = 'age', aggfunc = 'mean')

visits    1    2    3
animal
cat     2.5  NaN  2.5
dog     3.0  6.0  NaN
snake   4.5  0.5  NaN